.sub-nav-bar-button {
  width: 30px;
  height: 30px;
  border: 2px solid #06acff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #06acff;
  margin-bottom: 2px;
  font-size: 12px;
}