.sub-nav-bar {
  display: flex;
  gap: 2rem;
}

.sub-nav-bar button {
  border: none;
  background: transparent;
  padding: 0.5rem 0;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.button-label {
  font-family: var(--font-heading);
  font-weight: 700;
  color: #757575;
  transition: color 0.2s ease;
}

.sub-nav-bar button:hover .button-label {
  color: #000;
}

.sub-nav-bar button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.sub-nav-bar button:hover::after,
.sub-nav-bar button.active::after {
  width: 100%;
}

.sub-nav-bar button.active .button-label {
  color: #000;
}

.button-index {
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 20%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-index.green {
  background-color: rgba(99, 155, 109, 0.3); 
  color: #639B6D; 
}

.button-index.yellow {
  background-color: rgba(196, 162, 76, 0.3);
  color: #C4A24C;
}

.button-index.red {
  background-color: rgba(203, 91, 67, 0.3);
  color: #CB5B43;
}