.game-embed__frame {
  display: flex;
  justify-content: center;
}

.game-embed__frame iframe {
  width: 100%;
  max-width: 1000px;  /* cho game to hơn nữa */
  height: 680px;      /* tăng chiều cao */
  display: block;
  border: 0;
  border-radius: 12px;
    transform: scale(1.5); 
     transform-origin: top center
}

@media (max-width: 768px) {
  .game-embed__frame iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 485 / 402; /* giữ đúng tỉ lệ scratch */
    min-height: 280px;
  }
}
