.navbar {
  position: sticky;      
  top: 0;                
  z-index: 100;         
  height: 60px;          
  background-color: #01C0E2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
}
