:root {
  --font-heading: 'Dela Gothic One', cursive;
  --font-body: 'Montserrat', sans-serif;
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000; 
  background-color: #FFFFFF; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color, #FFFFFF);
  color: var(--text-color, #000000);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87); 
    background-color: #242424; /
  }
}
